<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="favicon.svg" type="svg/x-icon">
    <script src='/javascripts/script.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
