<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="shortcut icon" href="/icon.svg" type="svg/x-icon">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
